<div class="container">
  <h1>社員一覧</h1>

  <% @users.each do |user| %>
    <P><%= image_for(user) %></P>
    <p>名前：<%= link_to user.username, user_path(user.id) %></p>
    <p>所属部門：<%= user.department %></p>
    <p>Eメール：<%= user.email %></p>
  <% end %>

  <li><%= paginate @users %></li>
</div>