<p id="notice"><%= notice %></p>

  <p>畑の名前：<%= @garden.name %></p>
  <p>ハーブ名：<%= @garden.herb %></p>
  <p>畑状況：<%= @garden.content %></p>
  <p>収穫量：<%= @garden.cropyields %></p>

<%= link_to "畑一覧", gardens_path %>
<%= link_to "更新", edit_garden_path(@garden.id) %>
<%= link_to "削除", garden_path(@garden.id), method: :delete, "data-confirm" => "本当に削除しますか？"%>