<div class="container">
  <h1><%= link_to '畑の場所一覧へ', places_path %></h1>
  <h2>畑情報</h2>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><sreong>ハウス名：<%= @place.title %></sreong></div>

      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">
          <strong>備考:</strong>
          <%= @place.description %></li>
        <li class="list-group-item">
          <strong>ハーブの名前:</strong>
          <%= @place.herbname %></li>
        <li class="list-group-item">
          <strong>畑状況:</strong>
          <%= @place.content %></li>
        <li class="list-group-item">
          <strong>Address:</strong>
          <%= @place.address %></li>
        <li class="list-group-item">
          <strong>Latitude:</strong>
          <%= @place.latitude %></li>
          <li class="list-group-item">
            <strong>Longitude:</strong>
          <%= @place.longitude %></li>
      </ul>
    </div>


<%= link_to '畑情報更新', edit_place_path(@place), class: "btn btn-success" %>
<%= link_to '削除', @place, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>

  <div class="map_container">
    <div id="map" class="map_canvas"></div>
  </div>

</div>
<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>